@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #262673;
	height: 100vh;
	background-size: cover;
	color: #fff;
}

footer {
	
}

img.grayscale {
    -webkit-filter: grayscale(100%); /* New WebKit */
}

img.regular {
	-webkit-filter: grayscale(0%); /* New WebKit */
}

.lipstick .after {
	-webkit-filter: grayscale(0%);
}


p {
	font-family: 'Arial';
	font-size: 18px;
}

h1, h2, h3, .btn-primary, .btn-secondary {
	font-family: 'Raleway', 'Arial';
}

 video, img {
                max-width:100%;
}

h1 {
	font-size: 72px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 1em;
	margin-bottom:0.5em;
	margin-top:0.2em;
}

h2 {
	font-weight: 100;
	font-size: 28px;
	letter-spacing: 1px;
	margin-top:0.5em;
}

h3 {
	font-weight: 100;
	font-size: 16px;
	letter-spacing: 1px;
	margin-top:0.5em;
}

.jumbotron {
	background-color: #262673;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	height: 100vh;
	text-align: center;
	position: relative;
    padding:0 !important;
    margin-bottom: 0 !important;
}

.btn-primary {
	border-radius: 10px;
	background-color: #ff4081;
	border-color: #ff4081;
	outline: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	background-color: #ff99bb;
	border-color: #ff99bb;
	color: #ffffff;
	outline: none;
}

.btn-secondary {
	border-radius: 10px;
	background-color: #ffffff;
	border-color: #ffffff;
	color: #ff4081;
	outline: none;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-primary {
	background-color: #ff99bb;
	border-color: #ff99bb;
	color: #ffffff;
	outline: none;
}

.btn-logout {
	border-radius: 10px;
	background-color: #ffffff;
	border-color: #ffffff;
	color: #ff4081;
	position: absolute; 
 	right: 20px;
 	top:20px;
 	outline: none;
}

.btn-logout:hover, .btn-logout:focus, .btn-logout:active, .btn-logout.active, .open>.dropdown-toggle.btn-primary {
	background-color: #ff99bb;
	border-color: #ff99bb;
	color: #ffffff;
	position: absolute; 
 	right: 20px;
 	top:20px;
 	outline: none;
}

.bg-1 { 
    background-color: #fff;
    color: #555;
}

.bg-2 { 
    background-color: #F6D7E0;
    color: #555;
}

.bg-3 { 
    background-color: #262673;
    color: #ffffff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
	padding-right: 50px;
	padding-left: 50px;
}

/* Login Page CSS ----------------------------*/

.login-page {
  width: 360px;
  padding: 4% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  color: #1a1a1a;
  width: 100%;
  border: 0;
  border-radius: 10px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #ff4081;
  width: 100%;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ff99bb;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #ff4081;
  text-decoration: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #262673, #262673);
  background: -moz-linear-gradient(right, #262673, #262673);
  background: -o-linear-gradient(right, #262673, #262673);
  background: linear-gradient(to left, #262673, #262673);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.camera .hide {
    visibility: hidden;
}
/* Popup --------------------*/

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
